RESET CSS * {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.App {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  background-color: #282c34;
  flex-wrap: wrap;
}

.App-link {
  color: #61dafb;
}

button {
  background: none;
  border: 1px solid #fff;
  outline: none;
  margin: 0.1rem;
  padding: 0.4rem;
  font: inherit;
  font-size: 0.75rem;
  line-height: 1;
  color: #fff;
  cursor: pointer;
}
button:hover {
  background-color: #fff;
  color: #444;
}

label {
  font-size: large;
  color: black;
  font-weight: bold;
  float: left;
}

img {
  width: 110%;
  height: 110%;
}

.board {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
  row-gap: 2em;
  width: 50%;
  height: 50%;
}

.community {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  height: minmax(100px, auto);
  width: minmax(375px, auto);
}

.hand {
  display: flex;
  align-items: baseline;
  justify-content: center;
  flex-wrap: wrap;
  height: minmax(100px, auto);
  width: minmax(150px, auto);
}

.hand-description {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
  background-color: darkslategray;
  height: minmax(100px, auto);
  width: minmax(375px, auto);
  padding: 20px;
  border-style: solid;
  border-color: black;
  border-radius: 8px;
}

.card-container {
  border-radius: 7px;
  margin: 10px;
}

.cardplaceholder-container {
  border-radius: 7px;
  margin: 10px;
  visibility: hidden;
}
